.container.page {
	padding-top: 100px;
}

input, textarea, select, button {
	font-family: Ubuntu, serif;
}

.img-account {
	max-width: 20px
}

.playlist-form {
	min-width: 20rem;
	max-width: 20rem;
	padding-top: 20px;
}

@media screen and (max-width: 991px){
	.playlist-form {
		min-width: 90%;
		max-width: 90%;
	}

	.playlist-form h5 {
		color: #fff;
	}

	.playlist-form button {
		margin-right: 10px;
	}
}