.container.page {
	padding-top: 100px;
}

input, textarea, select, button {
	font-family: Ubuntu, serif;
}

.img-account {
	max-width: 20px
}

.playlist-form {
	min-width: 20rem;
	max-width: 20rem;
	padding-top: 20px;
}